cryptography==44.0.2
hawkauthlib
konfig
mysqlclient
psutil
pyjwt
pyramid
pyramid_hawkauth
pyfxa==0.8.1
pytest
requests
simplejson
sqlalchemy==1.4.46
tokenlib
webtest
wsgiproxy2
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
